<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.Ecommerce.utilityFiles.Listeners" />
	</listeners>
	
	<parameter name="UserName" value="mprasannakumar124@gmail.com" />
	<parameter name="Password" value="Prasu@59" />
<!-- 	
	<test thread-count="5" name="SubmitOrderTest">
		<classes>
			<class name="com.Ecommerce.Test.SubmitOrderTest" />
		</classes>
	</test>
	
	<test thread-count="5" name="Error Validation Test">
		<classes>
			<class name="com.Ecommerce.Test.ErrorValidationTest" />
		</classes>
	</test>

	<test thread-count="5" name="Purchase Order Test">
		<classes>
			<class name="com.Ecommerce.Test.PurchaseOrderTest" />
		</classes>
	</test> -->
	
		<test thread-count="5" name="End to End Test">
		<classes>
			<class name="com.Ecommerce.Test.EndToEndTest" />
		</classes>
	</test>
	
	
</suite>
<!-- parallel=Methods executing tearDown methods also executing <suite parallel="methods" 
	name="Suite"> <test thread-count="5" name="SubmitOrderTest"> <classes> <class 
	name="com.Ecommerce.SubmitOrderTest"/> </classes> </test> <test thread-count="5" 
	name="Error Validation Test"> <classes> <class name="com.Ecommerce.ErrorValidation"/> 
	</classes> </test> </suite>
	-->